:root{
    --colortextos: #49454567;
    --maincolor: #e74c3c;

}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    background: #010814;
    /* backdrop-filter: blur(5px); */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*
body{
    background-color: #f2f2f0;
}*/

.header__logo{
    margin-left: 8px;
    display: flex;
    align-items: center;
}

.logo__text a{
    text-decoration: none;
    color: white;
}

.logo{
    width: 65px;
    height: 65px;
}

.logo__text{
    font-size: 50px;
    color: white;
    margin-left: 10px;
    font-family: 'Squada one';
}


.header__menulist{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    /* background-color: salmon; */
    font-size: 18px;
    /* margin-right: 20px; */
}

.menu__item  {
    margin: 15px;
}

.menu_item, .menu__item a{
    text-decoration: none;
    color: white;
    transition: all 400ms ease;
}

.menu__item a{
    margin: 0;
    padding: 0;
    transition: 300ms all ease-in;
}

.menu__item:hover a{
    color: #2799B5;
}

.product-grid{
    font-family: 'Roboto', sans-serif;
    position: relative;
    background-color: white;
    border-radius: 8px;
}

.product-grid .product-imagen{
    overflow: hidden;
    position: relative;
    width: 265px;
    height: 250px;
}


/*------------------------------------------- Producto*/
.product-gridx{
    font-family: 'Roboto', sans-serif;
    position: relative;
    background-color: white;
    border-radius: 8px;
}

.product-gridx .product-imagenx{
    overflow: hidden;
    position: relative;
    width: 600px;
    height: 650px;
    float: left;
}

.product-gridx .product-imagenx:before{
    content: "";
    background: rgba(0,0,0,0.3);
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: all 0.4s ease-out 0s;
    border-radius: 8px;
}

.product-gridx .product-imagenx:before{
    content: "";
    background: rgba(0,0,0,0.3);
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: all 0.4s ease-out 0s;
    border-radius: 8px;
}

.product-gridx:hover .product-imagenx:before{ 
    opacity: 1; 
}

.product-gridx .product-imagenx a{
    display: block;
}

.product-gridx .product-imagenx img{
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.product-imagenx .foto1{
    opacity: 1;
    backface-visibility: hidden;
    transition: all 0.4s ease-out 0s;
}

.product-gridx:hover .product-imagenx .foto1{ 
    opacity: 0; 
}

.product-imagenx .foto2{
    width: 100%;
    height: 100%;
    opacity: 0;
    backface-visibility: hidden;
    transform: scale(3);
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.4s ease-out 0s;
}

.product-gridx:hover .product-imagenx .foto2 {
    opacity: 1;
    transform: scale(1);
}

.product-imagenx .etiqueta-disponible,
.product-imagenx .producto-descuento{
    content: "";
    color: #fff;
    background-color: #2ecc71;
    font-size: 12px;
    line-height: 28px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    padding: 0 7px;
    position: absolute;
    top: 12px;
    left: 12px;
    z-index: 3;
}

.product-imagenx .producto-descuento{
    background-color: var(--maincolor);
    left: auto;
    right: 12px;
}

.product-gridx .social {
    padding: 0;
    margin: 0;
    list-style: none;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    left: 10px;
    z-index: 4;
}

.product-gridx .social li {
    margin: 0 0 12px;
    opacity: 0;
    transform: translateX(-60px);
    transition: transform .3s ease-out 0s;
}

.product-gridx:hover .social li {
    opacity: 1;
    transform: translateX(0);
}

.product-gridx:hover .social li:nth-child(2){ 
    transition-delay: 0.1s; 
}
.product-gridx:hover .social li:nth-child(3){ 
    transition-delay: 0.2s; 
}
.product-gridx:hover .social li:nth-child(4){ 
    transition-delay: 0.3s; 
}

.product-gridx .social li a {
    color: #fff;
    font-size: 22px;
    transition: all 0.3s;
}

.product-gridx .social li a:hover{
    color: var(--maincolor);
}

.product-gridx .social li a::before,
.product-gridx .social li a::after{
    content: attr(data-tip);
    color: #000;
    background: #fff;
    font-size: 14px;
    padding: 5px 10px;
    white-space: nowrap;
    display: none;
    transform: translateY(-50%);
    position: absolute;
    left: 33px;
    top: 50%;
    transition: all 0.3s;
}
.product-gridx .social li a:after{
    content: '';
    background: linear-gradient(-45deg, #fff 49%, transparent 50%);
    width: 10px;
    height: 10px;
    top: 40%;
    left: 20px;
}
.product-gridx .social li a:hover:before,
.product-gridx .social li a:hover:after{
      display: block;
}
.product-gridx .contenido-producto{
    padding: 12px 0;
}
.product-gridx .titulo{
    font-size: 15px;
    font-weight: 400;
    text-transform: capitalize;
    margin: 0 0 5px;
    text-align: right;
}
.product-gridx .titulo a{
    color: #959595;
}
.product-gridx .titulo a:hover{
    color: var(--maincolor);
}
.precio{
    color: #2193b0;
    font-size: 28px;
    font-weight: 400;
}
.product-gridx .precio span{
    color: #333;
    text-decoration: line-through;
    margin-right: 3px;
}
.product-gridx .precio.descuento{
    color: var(--maincolor);
}
.contenido-producto{
    float: right;
}
#derecha{
    width: 490px;
    height: auto;
    float: right;
}
.caracteristicas h3{
    border: 1px;
    margin-top: 20px;
    margin: 20px;
    font-size: 30px;
    font-family: 'Squada One', cursive;
    color: orangered;
}
/*.caracteristicas h2{
    border: 1px;
    margin-top: 20px;
    margin: 30px;
    font-size: 30px;
    font-family: 'Squada One', cursive;
    color: #2193b0;
    margin-left: 50%;
    transform: translateX(-50%);
    
}*/
.caracteristicas .carac{
    margin-top: 20px;
    margin: 20px;
    font-size: 18px;
}
.headingx
{
   display: flex;
   justify-content: center;
   border: 100px solid linear-gradient(to bottom, #2193b0, #6dd5ed);
}

.headingx h1{
    background-color: rgb(255, 255, 255);
    text-shadow: 2px 2px 12px rgba(0, 0, 0, 0.3);
    padding: 2px 10px;
    color: rgb(255, 94, 0);
    margin-top: 20px;
    margin: 20px;
    font-size: 30px;
    font-family: 'Squada One', cursive;

}
.oferta span{
    color: #333;
    text-decoration: line-through;
    margin-right: 3px; 
    font-size: 28px;
    font-weight: 400;
}

.oferta{
    color: #2193b0;
    font-size: 28px;
    font-weight: 400;
}
/*<<<<<<<<<<<BOTON>>>>>>>>>>>>>>>>>>>>*/
.myButton {
	box-shadow:inset 0px 0px 0px 0px #f5978e;
	background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
	background-color:#f24537;
	border-radius:38px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:15px;
	font-weight:bold;
	padding:7px 45px;
	text-decoration:none;
    text-shadow:0px 2px 0px #810e05;
}
.myButton:hover {
	background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
	background-color:#c62d1f;
}
.myButton:active {
	position:relative;
	top:1px;
}
/*<<<<<<<<<<<FINBOTON>>>>>>>>>>>>>>>>>>>>*/
/*-----------------------------------------------Fin Producto*/
.product-grid .product-imagen:before{
    content: "";
    background: rgba(0,0,0,0.3);
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: all 0.4s ease-out 0s;
    border-radius: 8px;
}

.product-grid:hover .product-imagen:before{ 
    opacity: 1; 
}

.product-grid .product-imagen a{
    display: block;
}

.product-grid .product-imagen img{
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.product-imagen .foto1{
    opacity: 1;
    backface-visibility: hidden;
    transition: all 0.4s ease-out 0s;
}

.product-grid:hover .product-imagen .foto1{ 
    opacity: 0; 
}

.product-imagen .foto2{
    width: 100%;
    height: 100%;
    opacity: 0;
    backface-visibility: hidden;
    transform: scale(3);
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.4s ease-out 0s;
}

.product-grid:hover .product-imagen .foto2 {
    opacity: 1;
    transform: scale(1);
}

.product-imagen .etiqueta-disponible,
.product-imagen .producto-descuento{
    content: "";
    color: #fff;
    background-color: #2ecc71;
    font-size: 12px;
    line-height: 28px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    padding: 0 7px;
    position: absolute;
    top: 12px;
    left: 12px;
    z-index: 3;
}

.product-imagen .producto-descuento{
    background-color: var(--maincolor);
    left: auto;
    right: 12px;
}

.product-grid .social {
    padding: 0;
    margin: 0;
    list-style: none;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    left: 10px;
    z-index: 4;
}

.product-grid .social li {
    margin: 0 0 12px;
    opacity: 0;
    transform: translateX(-60px);
    transition: transform .3s ease-out 0s;
}

.product-grid:hover .social li {
    opacity: 1;
    transform: translateX(0);
}

.product-grid:hover .social li:nth-child(2){ 
    transition-delay: 0.1s; 
}
.product-grid:hover .social li:nth-child(3){ 
    transition-delay: 0.2s; 
}
.product-grid:hover .social li:nth-child(4){ 
    transition-delay: 0.3s; 
}

.product-grid .social li a {
    color: #fff;
    font-size: 22px;
    transition: all 0.3s;
}

.product-grid .social li a:hover{
    color: var(--maincolor);
}

.product-grid .social li a::before,
.product-grid .social li a::after{
    content: attr(data-tip);
    color: #000;
    background: #fff;
    font-size: 14px;
    padding: 5px 10px;
    white-space: nowrap;
    display: none;
    transform: translateY(-50%);
    position: absolute;
    left: 33px;
    top: 50%;
    transition: all 0.3s;
}

.product-grid .social li a:after{
    content: '';
    background: linear-gradient(-45deg, #fff 49%, transparent 50%);
    width: 10px;
    height: 10px;
    top: 40%;
    left: 20px;
}

.product-grid .social li a:hover:before,
.product-grid .social li a:hover:after{
      display: block;
}

.product-grid .contenido-producto{
    padding: 12px 0;
}

.product-grid .titulo{
    font-size: 15px;
    font-weight: 400;
    text-transform: capitalize;
    margin: 0 0 5px;
}

.product-grid .titulo a{
    color: #959595;
}

.product-grid .titulo a:hover{
    color: var(--maincolor);
}

.product-grid .precio{
    color: #2193b0;
    font-size: 14px;
    font-weight: 400;
}

.product-grid .precio span{
    color: #333;
    text-decoration: line-through;
    margin-right: 3px;
}

.product-grid .precio.descuento{
    color: var(--maincolor);
}

.heading
{
   display: flex;
   justify-content: center;
   border: 100px solid linear-gradient(to bottom, #2193b0, #6dd5ed);
}

.container{
    margin-bottom: 20px;
}

.heading h1{
    background-color: black;
    text-shadow: 2px 2px 12px rgba(69,66,66,0.3);
    padding: 2px 10px;
    color: #fff;
    margin-top: 20px;
    margin: 20px;
    font-size: 30px;
    font-family: 'Squada One', cursive;

}




/* -----------------------ESTILOS PARA EL FOOTER----------------- */


.footer__tab{
    background-color: #010814;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 100px;
    color: white;
}

.footer__logo h2{
    font-family: 'Squada one';
    font-size: 23px;
    letter-spacing: 2px;
    color: #0e9aa7;
}
.footer__logo p{
    font-size: 12px;
}

.footer__social{
    width: 160px;
}

.social__tittle{
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: lighter;
    text-align: center;
    margin-bottom: 10px;
    color: #0e9aa7;
}

.social__icons{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    
}

.social__icon--item{
    cursor: pointer;
    border: solid white 1px;
    padding: 5px;
    
}

.social__icon--item a{
    text-decoration: none;
    color:white ;
    transition: all ease-in 300ms;
    
}

.social__icon--item:hover a{
    color: #0e9aa7;
}










@media only screen and (max-width:990px){
    .product-grid{ margin-bottom: 30px; }
}

@media only screen and (max-width:450px){
    .header{
        flex-direction: column;
    }
}