<!DOCTYPE html>
<html lang="es">
<head>

    {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catálogo</title>
    <link rel="icon" type="image/jpg" href="{% static 'Conffort/images/Logoicon.png' %}" />
    <script src="https://kit.fontawesome.com/502b050bab.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/catalogo.css">    
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Squada+One&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="header__logo">
            <img src="{% static 'Conffort/images/logo.png' %}" alt="logo conffort" class="logo">
            <h3 class="logo__text"> <a href="{% url 'inicio-url' %}">CDS ZA SSA</a> </h3>
        </div>

	{% comment  %}
	
		La siguiente seccion fue modificada para mostrar el nombre
		del usuario en el navbar

	{% endcomment %}

        <nav class="header__nav">
            <ul class="header__menulist" id="menu">
                <li class="menu__item active" data-menuanchor="home"  >
                    <a href="{% url 'inicio-url' %}">Home</a>
                </li>
                <li class="menu__item" data-menuanchor="aboutUs"  >
                    <a href="#"><strong>Usuario: {{nombre_login}}</strong></a>
                </li>
		<li>
		<li class="menu__item active" data-menuanchor="delete-user" >
		    <form class="footer__form" action="delete_user/{{id_user}}" method="POST">{% csrf_token %}
			    <label for="delete-user-botton"></label>
			    <input type="submit" name="delete-user-botton" value="Borrar Usuario" class="footer__button">
		    </form>
		</li>
            </ul>
        </nav>
    </header>
<!-------------------------------Articulo----------------------------------->
    <div class="headingx">
        <h1>Tarjeta Madre Gigabyte micro ATX B450M DS3H (rev. 1.0), S-AM4, AMD B450, HDMI, 64GB DDR4 para AMD</h1>
    </div> 
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="product-gridx">
                    <div class="product-imagenx">
                        <a href="#">
                            <img loading="lazy" src="./img/img3.PNG" class="foto1">
                            <img loading="lazy" src="./img/img3_3.PNG" class="foto2">
                        </a>
                        <span class="etiqueta-disponible">STOCK</span>
                        <span class="producto-descuento">-20%</span>
                        <ul class="social">
                            <li><a href="#" data-tip="Agregar al carrito"><i class="fa fa-shopping-cart"></i></a></li>
                            <li><a href="#" data-tip="Favoritos"><i class="fa fa-heart"></i></a></li>
                            <li><a href="https://twitter.com/intent/tweet?text=Deberías%20revisar%20este%20articulo%20está%20en%20descuento%20en%20Conffort" target="blank_"" data-tip="Compartir"><i class="fa fa-share"></i></a></li>
                            <li><a href="#" data-tip="Vista Rápida"><i class="fa fa-search"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="derecha">
                <div class="contenido-producto">
                    <h3 class="titulo"><a href="#"></a>Tarjeta Madre Gigabyte micro ATX B450M DS3H (rev. 1.0), S-AM4, AMD B450, HDMI, 64GB DDR4 para AMD</h3>
                    <div class="oferta"> <span>$2109.00</span> $1940.00</div>
                    <hr>
                </div> 
                <div class="caracteristicas">
                    <h3>Caracteristicas</h3>
                    <ul class="carac">
                        <li>Familia de procesador: <b>AMD</b></li>
                        <li>Circuito integrado de tarjeta madre: <b>AMD B450</b></li>
                        <li>Socket de procesador: <b>Socket AM4</b></li>
                        <li>Circuito integrado <b>AMD B450</b></li>
                        <li>Memoria interna, máxima <b>64 GB</b></li>
                        <li>Tipo de memoria: <b>DDR4-SDRAM</b></li>
                    </ul>
                    <hr>
                    <br>
                   <!--<h2>¡Compra ahora!</h2>--> 
                    <a href="#" class="myButton">COMPRAR</a>
                </div>
                
            </div>
        </div>
    </div>
<!-------------------------------Articulo----------------------------------->
    <footer class="footer">
        <div class="footer__tab">
                <div class="footer__logo">
                    <h2>CONNFORT</h2>
                    <p> © 2020 - CONNFORT  All Right Reserved </p>
                </div>
                <div class="footer__social">
                    <h3 class="social__tittle">FOLLOW</h3>
                    <ul class="social__icons">
                        <li class="social__icon--item"> <a href="#"><i class="fab fa-facebook"></i></a></li>
                        <li class="social__icon--item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li class="social__icon--item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                    </ul>
                 </div>
        </div>
    </footer>
    
    </div>
</body>
</html>
